* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif; 
    background-image: url("../img/fundoMenor.svg");
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.itens {
    width: 132vh;
    background-color: #419CA1;
    height: 81vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    border-radius: 56px;
    box-shadow: 8px 8px 45px rgba(0,0,0,0.25);
}

.form {
    display: flex;
    align-items: center;
    background-color: azure;
    height: 53.6vh;
    width: 59vh;
    justify-content: center;
    border-radius: 44px;
    box-shadow: 8px 8px 45px rgba(0,0,0,0.25);
}

.form input, button {
    height: 5.2vh;
    width: 42vh;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 6px;
}

.form input[type="submit"], button {
    background-color: #FCDE32;
    border: 0px;
    height: 7vh;
    font-size: 17px;
    font-weight: bolder;
}

.log {
    
    display: flex;
    flex-direction: column;
}
/*header*/
.header {
    background-color: #202F36;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cad-login a{
   margin: 15px;
}
.cad-login a:nth-child(1){
    color: #fff;
    font-weight: bolder;
}

.cad-login a:nth-child(2){
    background-color: #FCDE32;
    padding: 12px;
    border-radius: 9px;
    font-weight: 520;
}

.logo-search {
    margin-left:15px;
}

.logo-search label{
    margin-left: 50px;
}

.logo-search input{
    background-color: #1C596E;
    height: 35px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.logo-search input::-moz-placeholder{
    color: #fff;
    opacity: 1;
    font-weight: 530;
}
/* FOOTER COMPLET*/

/* footer */
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 7px solid #202F36;
    background-color: #FFFFFF;
}
/* logo */
.logo {
    margin: 15px;
}

/* map site */
.links {
    display: flex;
}

.links ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.links ul li {
    margin-left: 25px;
}

/* social */

.social figure{
    display: flex;

}

.social figure img{
    margin-left: 35px;
}

@media(max-width: 725px) {
    .beginner {
        text-align: center;
    }
}