body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../img/fundoMenor.svg");
}
hr{
    width: 900px;
    
}
a{
    text-decoration: none;
}
.label{
    width: 830px;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
}
.label .input {
    width: 90vh;
    height: 50px;
    border: 1px black solid;
}
select{
    height: 50px;
   background-color: #fff;
    width: 11vh;
}
.container{
    margin-top: 100px;
    width: 350px;
    height: 484px;
    background-color: #fff;
}
.cont{
   margin-left: 20px;
   margin-top: -17px;
}

img{
    width: 350px;
}
h1{
    padding:7px;
    font-weight: normal;
    background-color: #fff;
    width: 45vh;
}
div{
    display: flex;
    margin-top: -5px;
}
div p{
    margin-right: 5px;
    font-size: 15px;
    background-color: #fff;
    margin-top:-5px;
    padding:4px;
}
.cont1{
    font-size: 15px;
    background-color: #fff;
    height: 17vh;
    width: 45vh;
    padding:7px;
    margin-top: -15px;
 }
.king{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
/*HEADER*/
.header {
    background-color: #202F36;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
}
.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cad-login a{
   margin: 15px;
}
.cad-login a:nth-child(1){
    color: #fff;
    font-weight: bolder;
}

.cad-login a:nth-child(2){
    background-color: #FCDE32;
    padding: 12px;
    border-radius: 9px;
    font-weight: 520;
}

.logo-search {
    margin-left:15px;
}

.logo-search label{
    margin-left: 50px;
}

.logo-search input{
    background-color: #1C596E;
    height: 35px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.logo-search input::-moz-placeholder{
    color: #fff;
    opacity: 1;
    font-weight: 530;
}

/* FOOTER COMPLET*/

/* footer */
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 7px solid #202F36;
    background-color: #FFFFFF;
}
/* logo */
.logo {
    margin: 15px;
}

/* map site */
.links {
    display: flex;
}

.links ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.links ul li {
    margin-left: 25px;
}

/* social */

.social figure{
    display: flex;
    width: 350px;

}

.social figure img{
    margin-left: 35px;
}

@media(max-width: 725px) {
    .beginner {
        text-align: center;
    }
}