* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif; 
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1366px;
    margin: 20 auto;
    border-radius: 56px;
}

.form {
    max-width: 800px;
    padding: 50px;

    margin: 50px auto;
    border-radius: 50px;
    box-shadow: 8px 8px 45px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr;
}

.session{
    padding: 20px;
    border-radius: 25px;
    margin: 20px;
    box-shadow: 4px 4px 13px rgba(0,0,0,0.35);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
   justify-content: space-around;
}

.labels{
    margin: 5px;
}

.short {
    border: 1px solid #000;
    width: 20vw;
    height: 35px;
    padding: 8px;
    border-radius: 10px;
}

.long {
    border: 1px solid #000;
    width: 51vw;
    height: 35px;
    padding: 8px;
    border-radius: 10px;
}

.esp{
    border: 1px solid rgba(0,0,0);
    border-radius: 10px;
    padding: 5px;
    width: 20vw;
}

.session h1 {
    flex-basis: 600px;
    margin: 5px;
    font-size: 1.5rem;
}
.turno {
   
}
.finalizar {
    width: 20vw;
    height: 3vw;
    border: 1px solid rgb(0, 158, 26);
    background-color: #09aa03;
    color: #fff;
    font-weight: bolder;
    border-radius: 5px;
}

.finalizar:active {
    background-color: rgb(4, 94, 41);
}