/* Banner */

.banner {
    background-color: #202F36;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.banner img{
    height: 75vh;
}

/* beginner */

.beginner {
    color: #fff;
    font-size: 3.5rem;
    margin: 0 auto;
}
.beginner span{
    color: #FCDE32;
}

.user-chooser{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1rem;
    padding: 15px;
    color: #000;
    
}


.bottom {
    width: 35vh;
    height: 7vh;
    margin: 5px;
    border-radius: 9px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.study {
    
    background-color: #1C596E;
}

.company {
    background-color: #FCDE32;
}