body {
  font-family: sans-serif;
  background: #202f36 url(../img/fundoMenor.svg);
}

.container {
  display: flex;
  max-width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  flex-direction: column;
}

.status {
  opacity: 0.9;
  display: flex;
  margin-top: 20px;
  padding: 20px 0px;
  background-color: #c4c4c4;
  justify-content: space-around;
}

.step {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.step-number {
  color: #fcde32;
}

.circle {
  width: 82px;
  height: 82px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #202f36;
}

.form {
  opacity: 0.8;
  padding: 50px;
  display: flex;
  max-width: 100%;
  margin-top: 10px;
  background: #bdbdbd;
  box-shadow: 8px 8px 45px rgba(0, 0, 0, 0.1);
}

.cadastro {
  display: flex;
}

.dados {
  display: flex;
  flex-direction: column;
}

.dados2 {
  padding: 20px;
  flex-grow: 6;
}

.titulo {
  width: 80vh;
  flex-grow: 1;
}

.titulo2 {
  width: 80vh;
  flex-grow: 2;
}

input[type="text"],
[type="number"],
[type="password"],
[type="E-mail"] {
  width: 90vh;
  opacity: 0.8;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  color: #4f4f4f;
  border-style: none;
  border-radius: 10px;
  border: 0px solid #000;
  background-color: #fff;
  padding: 15px 25px 15px 25px;
}

.pequeno {
  flex: 1 1 auto;
  display: block;
}

input[type="numberc"],
[type="textc"],
[type="E-mailc"] {
  width: 40vh;
  opacity: 0.8;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  color: #4f4f4f;
  border-style: none;
  border-radius: 10px;
  border: 0px solid #000;
  background-color: #fff;
  padding: 15px 25px 15px 25px;
}

.botão {
  width: 50vh;
  height: 4vw;
  padding: 15px;
  font-size: 22px;
  margin-top: 10px;
  color: #202f36;
  font-weight: bold;
  border-style: none;
  border-radius: 10px;
  background-color: #fcde32;
}

h6 {
  font-size: 20px;
}

h2 {
  font-size: 40px;
}
