<strong>Recuperando Senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada do email: ({{email}}). Se não foi você que fez essa  requiisição, seria legal trocar sua senha para garantir sua seguraça</p>
<p>Para continuar com recuperaçãod e senha, continue com o token {{ token }} ou clique no link a baixo: </p>

<a href="{{ link }}">Clique aqui para recuperar a senha</a>
