* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif; 
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 56px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

