* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif; 
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.itens {
    width: 132vh;
    background-color: #419CA1;
    height: 81vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    border-radius: 56px;
    box-shadow: 8px 8px 45px rgba(0,0,0,0.25);
}

.form {
    display: flex;
    align-items: center;
    background-color: azure;
    height: 53.6vh;
    width: 59vh;
    justify-content: center;
    border-radius: 44px;
    box-shadow: 8px 8px 45px rgba(0,0,0,0.25);
}

.form input, button {
    height: 5.2vh;
    width: 42vh;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 6px;
}

.form input[type="submit"], button {
    background-color: #FCDE32;
    border: 0px;
    height: 7vh;
    font-size: 17px;
    font-weight: bolder;
}

.log {
    
    display: flex;
    flex-direction: column;
}
