* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif; 
}

a {
    text-decoration: none;
    color: #000;
}
img {
    width: 100%;
}

.container {
    max-width: 1366px;
    margin: 20 auto;
    border-radius: 56px;
}

.header {
    background-color: #202F36;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 4px 4px 4px rgba(0,0,0,1);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cad-login a{
   margin: 15px;
}
.cad-login a:nth-child(1){
    color: #fff;
    font-weight: bolder;
}

.cad-login a:nth-child(2){
    background-color: #FCDE32;
    padding: 12px;
    border-radius: 9px;
    font-weight: 520;
}

.logo-search {
    margin-left:15px;
}

.logo-search label{
    margin-left: 50px;
}

.logo-search input{
    background-color: #1C596E;
    height: 35px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.logo-search input::-moz-placeholder{
    color: #fff;
    opacity: 1;
    font-weight: 530;
}

/* Banner */

.banner {
    background-color: #202F36;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.banner img{
    height: 75vh;
}

/* beginner */

.beginner {
    color: #fff;
    font-size: 3.5rem;
    margin: 0 auto;
}
.beginner span{
    color: #FCDE32;
}

.user-chooser{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1rem;
    padding: 15px;
    color: #000;
    
}


.bottom {
    width: 35vh;
    height: 7vh;
    margin: 5px;
    border-radius: 9px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.study {
    
    background-color: #1C596E;
}

.company {
    background-color: #FCDE32;
}
/* footer */
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 7px solid #202F36;
}
/* map site */
.links {
    display: flex;
}

.links ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.links ul li {
    margin-left: 25px;
}

/* social */

.social figure{
    display: flex;

}

.social figure img{
    margin-left: 35px;
}

@media(max-width: 725px) {
    .beginner {
        text-align: center;
    }
}