* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif; 
}

a {
    text-decoration: none;
    color: #000;
}

.header {
    background-color: #202F36;
    padding: 15px;
    text-align: center;
}


.actions {
    background-color: #202F36;
    margin: 50px auto 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    max-width: 150vh;
}

.actions  div {
    padding: 15px;
    border-radius: 10px;
}

.dark-green {
    background-color: #202F36;
}

.gold {
    background-color: #FCDE32;
}

.silver {
    background-color: #f2f2f2;
}

.blue-light {
    background-color: #419CA1;
}

.course {
    max-width: 152.5vh;
    border-top: 5px solid #202F36;
    margin: 0 auto;
}

.atrCourse {
    display: flex;
    flex-wrap: wrap;
}

.done {
    margin: 10px;
    display: flex;
    align-items: center;
}

.numberCourse {
    font-size: 1rem;
    margin-left: 5px;
    padding: 15px;
    border-radius: 100%;

}

.stage-course {
    display: flex;
    justify-content: center;
}

.stage-course input[type=search] {
    font-size: 1.2rem;
    border: 0px;
    width: 45vh;
    padding: 5px;
    border-bottom: 3px solid #1C596E;
    border-radius: 1px;
}